<!-- Таинство крещения (вёрстка) -->
<!DOCTYPE html>
<html amp lang="ru-RU">
<head>
    <link rel="canonical" href="http://spasskiy-sobor.ru/site/article?id=10">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="amp-google-client-id-api" content="googleanalytics">
    <link rel="icon" type="image/png" href="/16x16/files/sobor-small-rounded.png" />
    <link rel="apple-touch-icon" href="/57x57/files/sobor-small-rounded.png"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/brands.css" integrity="sha384-i2PyM6FMpVnxjRPi0KW/xIS7hkeSznkllv+Hx/MtYDaHA5VcF0yL3KVlvzp8bWjQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/fontawesome.css" integrity="sha384-sri+NftO+0hcisDKgr287Y/1LVnInHJ1l+XC7+FOabmTTIK0HnE2ID+xxvJ21c5J" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">

        <title>Крещение</title>


<style amp-boilerplate="">body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate="">body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    <meta name="csrf-param" content="_csrf-frontend">
<meta name="csrf-token" content="d1hbQfdU7Io0AZ-BqiENSvmVtbizA1Odfcmb6j4w7g0_aWowvx2W-FxX8sbkYjh5sNLs9N8uGK82r-mnCFrcOA==">

<script src="https://cdn.ampproject.org/v0.js" async="async"></script>
<script src="https://cdn.ampproject.org/v0/amp-bind-0.1.js" async="async" custom-element="amp-bind"></script>
<script src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js" async="async" custom-element="amp-analytics"></script></head>
<body class="land-see ">
    <amp-analytics type="metrika">
        <script type="application/json">
            {
                "vars": {
                    "counterId": "53592163"
                }
            }
        </script>
    </amp-analytics>

    
<div class="site-article">
    <div class="content-wrap"><!-- content-wrap -->
        <a href="/" class="block relative sm-hide md-hide lg-hide logo-wrap logo-wrap-mob"></a>

        <div class="max-width-4 mx-auto p2"><!-- full-width-wrap -->
            <div class="border border-grey bg-white-a70 rounded clearfix p2"><!-- clearfix -->
                
<ul class="center h2 list-reset mt0 head-menu">
    <li class="inline-block mr1">
        <a href="/site/article?id=4">Расписание богослужений</a>
    </li>
    <li class="inline-block mr1">
        <a [class]="aboutItem" on="tap:AMP.setState({sacramentsItem: null, sacramentsMenu: null, activitiesItem: null, activitiesMenu: null, aboutItem: 'underline', aboutMenu: 'center h4 list-reset'})">О соборе</a>
    </li>
    <li class="inline-block mr1">
        <a [class]="activitiesItem" on="tap:AMP.setState({aboutItem:null, aboutMenu: null, sacramentsItem: null, sacramentsMenu: null, activitiesItem: 'underline', activitiesMenu: 'center h4 list-reset'})">Деятельность</a>
    </li>
    <li class="inline-block mr1">
        <a [class]="sacramentsItem" on="tap:AMP.setState({aboutItem:null, aboutMenu: null, activitiesItem: null, activitiesMenu: null, sacramentsItem: 'underline', sacramentsMenu: 'center h4 list-reset'})">Таинства</a>
    </li>
    <li class="inline-block mr1">
        <a href="/site/order">Подать записку</a>
    </li>
</ul>

<ul class="center h4 list-reset hide" [class]="aboutMenu||'hide'">
    <li class="inline-block mr1">
        <a class="" href="/site/article?id=3">Духовенство</a>
    </li>
    <li class="inline-block mr1">
        <a class="" href="/site/article?id=1">История</a>
    </li>
    <li class="inline-block mr1">
        <a class="" href="/site/article?id=2">Святыни</a>
    </li>
    <li class="inline-block mr1">
        <a class="" href="/site/article?id=5">Роспись</a>
    </li>
</ul>

<ul class="hide" [class]="activitiesMenu||'hide'">
    <li class="inline-block mr1">
        <a href="/site/article?id=6">Воскресная школа</a>
    </li>
    <li class="inline-block mr1">
        <a href="/site/article?id=7">Молодежный центр</a>
    </li>
    <li class="inline-block mr1">
        <a href="/site/article?id=8">Библиотека</a>
    </li>
    <li class="inline-block mr1">
        <a href="/site/article?id=9">Социальная деятельность</a>
    </li>
</ul>

<ul class="center h4 list-reset hide" [class]="sacramentsMenu||'hide'">
    <li class="inline-block mr1">
        <a href="/site/article?id=10">Крещение</a>
    </li>
    <li class="inline-block mr1">
        <a href="/site/article?id=11">Венчание</a>
    </li>
    <li class="inline-block mr1">
        <a href="/site/article?id=12">Исповедь</a>
    </li>
    <li class="inline-block mr1">
        <a href="/site/article?id=13">Причастие</a>
    </li>
    <li class="inline-block mr1">
        <a href="/site/article?id=184">Соборование</a>
    </li>
</ul>

<hr>

<ul class="mx-auto center list-reset social-icons-wrap">
    <!--<li class="inline-block mr1">
        <a href="https://instagram.com/soborvpyatigorske" target="_blank">
            <i class="fab fa-instagram fa-lg"></i>
        </a>
    </li>-->
    <li class="inline-block mr1">
        <a href="https://www.youtube.com/channel/UCT9LuM1abyX14sRm6um0pNg" target="_blank">
            <i class="fab fa-youtube fa-lg"></i>
        </a>
    </li>
    <!--<li class="inline-block mr1">
        <a href="https://www.flickr.com/people/157787163@N07/" target="_blank">
            <i class="fab fa-flickr fa-lg"></i>
        </a>
    </li>-->
    <!--<li class="inline-block mr1">
        <a href="https://soundcloud.com/rdyxfnx53xwp" target="_blank">
            <i class="fab fa-soundcloud fa-lg"></i>
        </a>
    </li>-->
    <!--<li class="inline-block">
        <a href="https://www.facebook.com/soborvpyatigorske/" target="_blank">
            <i class="fab fa-facebook-f fa-lg"></i>
        </a>
    </li>-->
    <li class="inline-block">
        <a href="https://t.me/soborvpyatigorske" target="_blank">
            <i class="fab fa-telegram fa-lg"></i>
        </a>
    </li>
</ul>


    <ul class="list-reset breadcrumbs">
                    <li class="inline-block mr1">
                                    <a href="#">
                
                Главная
                                    </a>
                            </li>
                    <li class="inline-block mr1">
                                    <a href="/site/articles?catids%5B0%5D=3">
                
                Таинства
                                    </a>
                            </li>
                    <li class="inline-block mr1">
                
                Крещение
                            </li>
            </ul>
                <!--Тут вставка цикла выборки из БД-->
                <h1>Крещение</h1>

                <div class="article-wrap">
                    <p>
                        Таинство крещения является дверью в Церковь как Царство благодати - с него начинается христианская жизнь.
                    </p>
                    <p>
                        Крещение - грань, отделяющая тех, кто со Христом, от прочих людей, находящихся по другой стороне.
                    </p>
                    <p>
                        В крещении человек умирает для греховной жизни и воскресает в новую, духовную жизнь.
                    </p>
                    <p>
                        В крещении у человека появляется возможность попасть в Царство Небесное: "кто не родится от воды и Духа не может войти в Царствие Божие" Ин. 3:5
                    </p>
                    <img decoding="async" src="img/no_img — копия.jpeg" height="768" width="1024" layout="responsive" class="i-amphtml-fill-content i-amphtml-replaced-content"></img><!--Изображение-->
                    <h1>Зачем крестить младенцев если они ничего не понимают?</h1>
                    <p>
                        В случае крещения младенцев исповедание веры произносят восприемники(родители), тем самым дающие обязательство воспитать детей в вере и 
                        сделать их Крещение сознательным.
                    </p>
                    <p>
                        Младенец, принимающий Таинство, не может логически осмыслить то, что
                        происходит с ним, однако его душа вполне способна воспринять благодать Святого Духа.
                    </p>
                    <p>
                        Однако младенцам благодать Божья даётся как бы в залог их будущей веры, как семя, которое бросают в землю; и для того, чтобы из семени выросло дерево и принесло плоды, требуются усилия и восприемников, и самого крещаемого по мере его возрастания.
                    </p>
                    <h1>Погружение или обливание?</h1>
                    <p>Допустимы оба варианта! Из-за отсутствия возможности в большинстве храмов крестят обливанием. В любом случае Таинство совершено!</p>
                    <h1>Что такое миропомазание?</h1>
                    <p>Миропомазание - это Крещение Духом святым!
                        Через Миропомазание мы становимся сынами Божьими,
                        потому что Святой Дух есть "дар усыновления".
                        Святой Дух в нас положен принести плод.
                        "Плод же духа: любовь, радость, мир, долготерпие, благость,
                        милосердие, вера, кротость, воздержание... Если мы живём 
                        духом, то по духу и поступать должны" Гал. 5:22,25
                    </p>
                    <h1>О крёстных родителях</h1>
                    <h1>Часть 1</h1>
                    <p>Крёстный родитель, или восприемник, - это человек, который
                        перед Богом берёт на себя ответственность за духовное
                        воспитание крестника. На Страшном Суде крёстный
                        родитель будет давать Богу ответ за своего крестника.
                    </p>
                    <p>Крёстный родитель должен быть человеком православным, 
                        близким к Церкви, способным воспитать крестника в 
                        православной вере, чтобы он смог называться настоящим
                        Христианином.</p>
                    <p>Крёстными НЕ МОГУТ быть родители ребёнка.</p>
                    <p>Муж с Женой МОГУТ быть крёстными родителями одного ребёнка
                        (Указ Святейшего Синода РПЦ 1810, 1837 года)</p>
                    <p>Крёстные МОГУТ в будущем заключить брак с благословения архиерея</p>
                    <h1>Часть 2</h1>
                    <p>
                    <ul>
                        <li>С 7-летнего возраста крещаемый может обойтись без
                        восприемника</li>
                        <li>Беременная и незамужняя женщины МОГУТ быть крёстными,
                        причем и мальчиков, и девочек</li>
                        <li>У человека МОЖЕТ быть только один крёстный одинакового
                        пола с ребенком</li>
                        <li>Крёстными могут стать девочки с 13 лет, мальчики с 15 лет</li>
                        <li>Незадолго до совершения Таинства Крещения крёстные должны сходить на исповедь и причаститься святых Христовых Таин</li>
                        <li>НЕ МОГУТ стать крёстными нехристиане - атеисты, мусульмане, иудеи, буддисты и т.д., сколь бы близкими
                        друзьями родителей ребенка и сколь бы приятными в общении
                        людьми они ни были</li>
                    </ul>
                    </p>
                    <h1>Имя</h1>
                    <p>
                    <ol>
                        <li>Каждому человеку при крещении нарекается имя.
                            По сложившейся традиции нашей Церкви, человеку
                            даётся имя соответствующее имени какого-либо святого из святцев
                        </li>
                        <li>Если в святцах нет имени, данного при рождении, то обычно
                            подбирается созвучное этому имени.
                        </li>
                        <li>Если человек был крещён в детстве и не помнит каким именем его
                            крестили, священник прочитывает над ним молитву и нарекает имя.
                        </li>
                        <li>Нарочно поменять имя после крещения нельзя.</li>
                        <li>Нет смысла выбирать другое имя перед крещением, если данное при
                            рождении есть в святцах
                        </li>
                        <li>День Ангела - это день в который совершено
                            Таинство Крещения
                        </li>
                        <li>День тезоименитства, или именины - это день памяти Небесного Покровителя</li>
                    </ol>
                    </p>
                    <p>
                        Таинство Крещения совершается однажды в жизни. В крещении человек получает освобождение от первородного греха и прощение всех своих грехов. Однако оно является лишь первой ступенью восхождения души к Богу, и если за ним не следует обновление всей жизни, духовное перерождение, решительный отказ от дел "ветхого человека", то оно не приносит плода. Благодать Божья, получаемая в Крещении как залог, как семя, будет прорастать в человеке и многообразно проявляться на протяжении всей его жизни, если он стремится ко Христу, живёт в Церкви и исполняет заповеди. Если же крещение было только формальностью, данью традиции или моде, и человек продолжает жить как язычник или неверующий, он лишается всех плодов таинства, отлучает себя от Христа и извергает себя из Церкви.
                    </p>
                </div>
                <!--Конец цикла вывода-->
            </div><!-- clearfix-end -->
        </div><!-- full-width-wrap-end -->
    </div><!-- content-wrap-end -->
</div>



<div class="bg-white alpha-90 fit relative pt1" style="height:fit-content;">
    
<ul class="mx-auto center list-reset social-icons-wrap">
    <!--<li class="inline-block mr1">
        <a href="https://instagram.com/soborvpyatigorske" target="_blank">
            <i class="fab fa-instagram fa-lg"></i>
        </a>
    </li>-->
    <li class="inline-block mr1">
        <a href="https://www.youtube.com/channel/UCT9LuM1abyX14sRm6um0pNg" target="_blank">
            <i class="fab fa-youtube fa-lg"></i>
        </a>
    </li>
    <!--<li class="inline-block mr1">
        <a href="https://www.flickr.com/people/157787163@N07/" target="_blank">
            <i class="fab fa-flickr fa-lg"></i>
        </a>
    </li>-->
    <!--<li class="inline-block mr1">
        <a href="https://soundcloud.com/rdyxfnx53xwp" target="_blank">
            <i class="fab fa-soundcloud fa-lg"></i>
        </a>
    </li>-->
    <!--<li class="inline-block">
        <a href="https://www.facebook.com/soborvpyatigorske/" target="_blank">
            <i class="fab fa-facebook-f fa-lg"></i>
        </a>
    </li>-->
    <li class="inline-block">
        <a href="https://t.me/soborvpyatigorske" target="_blank">
            <i class="fab fa-telegram fa-lg"></i>
        </a>
    </li>
</ul>

<ul class="mx-auto center h2 list-reset">
    <li class="inline-block mr1">
        <a href="#">Задать вопрос</a>
    </li>
    <li class="inline-block mr1">
        <a href="addnote.php">Подать записку</a>
    <li>
    <li class="inline-block mr1">
        <a href="#">Контакты</a>
    </li>
    <li class="inline-block mr1">
        <a href="#">Новости собора</a>
    </li>
    <li class="inline-block mr1">
        <a href="http://blago-kavkaz.ru/article/blog?catids%5B0%5D=1" target="_blank">Новости епархии</a>
    </li>
    <li class="inline-block mr1">
        <a href="http://www.patriarchia.ru/db/news/" target="_blank">Общецерковные новости</a>
    </li>
</ul>
       <div class="relative">
            <amp-img class="" src="img/mountains-no-sky-sharpened.png" width="1600" height="254" layout="responsive"></amp-img>
        </div>
</div>
</body>
</html>